#magic{

    border-width: 5px;
    border-style: solid;
    border-color: rgb(248, 246, 246);
    margin-right: 75%;
    background-color: rgba(188, 120, 194, 0.438);
}

#physic{

    border-width: 5px;
    border-style: solid;
    border-color: rgb(253, 251, 251);
    margin-right: 75%;
    background-color: rgba(211, 14, 14, 0.425);

}

#support{

    border-width: 5px;
    border-style: solid;
    border-color: rgb(243, 240, 240);
    margin-right: 75%;
    background-color: rgba(48, 119, 7, 0.425);
}


body{
background-image: url(TŁO.jpg);

}
