#dane {
    text-align: center;
    background-color: rgb(231, 227, 168);
}

#informacje {
    text-align: center;
    background-color: rgb(167, 230, 130);

}

#wizerunek{
    position: absolute;
    left: 0px;
    top: 0px;
    
}

#opis{

    text-align: center;
    background-color: rgb(245, 164, 132);
    font-size: 36px;
}

body{
    background-color: rgb(8, 5, 4);
    }
    
